<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Your meal is as follows:</h1>

    </div>
    You had <%=food %> and <%= drink %>
    <hr>

<%- include('bootfooter') -%>
